@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-background{
  background: Linear-gradient(to right, hsla(0, 100%, 71%, 0.747),hsla(0, 93%, 59%, 0.747),hsla(0, 100%, 62%, 0.877), hsl(353, 100%, 54%)), url('/images/bg-pattern-intro-desktop.svg') no-repeat center center;
  background-size: 190% auto;
  background-position: 58% center;

  background-blend-mode:screen;

  

  border-bottom-left-radius: 6rem;
}

/* Body text */
body {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;  /* Bold for headings */
}

/* Paragraphs */
p {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

.infrastructure{
  background-image: url('/images/bg-pattern-circles.svg'), linear-gradient(135deg, hsl(258, 100%, 9%) 0%, hsla(258, 100%, 17%, 0.726) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% bottom;
  height: 55vh;
  margin-top: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
}
